.App {
    text-align: center;
}


/* img {
    max-width: 30vmin;
    max-height: 30vh;
}

ul>li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 5vmin;
    border-bottom: 1px solid black;
}

li>span {
    width: 20vw;
    font-size: 3vmin;
} */